
#maps { height: 100%; margin: 0; padding: 0; }
#map {
    height: 100%;
}

#query-div{
    width: 89%;
    float: left;
}

#searchBtn{
    float: left;
}

.img_gallery{
    width: 80px;
    height: 80px;
}